<div class="association-element clearfix">
  <div class="form-inline form-group">
    <input type="text" class="association-first form-control" placeholder="posts" />
    <select class="association-type">
      <option value="has_many">has many</option>
      <option value="belongs_to">belongs to</option>
      <option value="has_one">has one</option>
      <option value="has_and_belongs_to_many">has and belongs to many</option>
    </select>
    <input type="text" class="association-second form-control elbow-room" placeholder="comments" />
    <i class="glyphicon glyphicon-remove btn-remove"></i>
  </div>
  <div class="form-group form-inline">
    <label style="font-weight: normal">Foreign Key</label>
    <input type="text" class="association-foreign-key form-control elbow-room" />
    <label style="font-weight: normal">Assoc Name</label>
    <input type="text" class="association-name form-control" />
  </div>
  <hr style="margin: 0"/>
</div>