<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scuttle</title>

    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/scuttle.css" rel="stylesheet">

    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <h1 class="pull-left">Scuttle</h1>
        <h4 class="pull-left text-muted tagline">A SQL and Arel Editor</h4>
        <% if authenticated? %>
          <div class="dropdown pull-right">
            <div class="login-widget dropdown-toggle clearfix" type="button" data-toggle="dropdown">
              <i class="pull-right glyphicon glyphicon-chevron-down"></i>
              <div class="pull-right elbow-room">
                <div>Logged in as</div>
                <strong><%= github_user.login %></strong>
              </div>
              <img class="pull-right elbow-room" src="<%= "http://www.gravatar.com/avatar/#{github_user.gravatar_id}?s=45" %>" />
            </div>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        <% else %>
          <a href="/login">
            <div class="login-widget hat pull-right clearfix">
              <div class="pull-left">Login with</div>
              <img class="pull-left" src="images/github_logo.png" />
            </div>
          <% end %>
        </a>
      </div>

      <%= yield %>

      <div class="footer">
        <p>Written by <a href="https://github.com/camertron">Cameron Dutro</a>. Source on <a href="https://github.com/camertron/scuttle-server">Github</a></p>
      </div>

    </div> <!-- /container -->

  </body>
</html>
